<%= render 'layouts/sidenav' %>
<!-- content -->
<div class=" contacts-outer">
  <div class="container">

    <div class="row main-section">
      <div class="col-md-3"><%= render 'layouts/mainsidenav' %>
      </div>
      <!-- /.col-md-3 -->
      <div class="col-md-9 main-content-dash">
       <span><h3 class="main-head"> Contacts</h3>

        <%= link_to new_contact_path, class: "btn add-c float-right" do %>
          <i class="ion-android-add"></i>
          add contact
         <%end %>
        </span>
        <% if @contacts.blank? %>
             <div class="alert alert-warning" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong> record not found </strong>
            </div>
        <%end %>
        <div class="panel panel-default">
          <table class="table">
            <%= render @contacts %>

            </table>
                </div>
                <div class="text-center">
                  <%= paginate @contacts%>
                </div>
              </div>
            </div>
          </div>
        </div>
