<%= render 'layouts/sidenav' %>
<!-- content -->
<div class=" contacts-outer"><%= render 'layouts/lowernavbar' %>
  <div class="container">
    <div class="row main-section">
      <div class="col-md-3"><%= render 'layouts/mainsidenav' %>
      </div>
      <!-- /.col-md-3 -->
      <div class="col-md-9 main-content-dash">
        <h3 class="main-head"> Contacts</h3>
        <div class="panel panel-default">
          <table class="table">
            <% @contacts.each do |contact|%>
            <tr>
              <td class="middle">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="http://placehold.it/100x100" alt="...">
                      </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading"><%= contact.name %></h4>
                      <address>
                        <strong><%= contact.company%></strong>
                        <br>
                        <%= contact.email%>
                        </address>
                      </div>
                    </div>
                  </td>
                  <td width="100" class="middle">
                    <div>
                      <a href="#" class="btn btn-circle btn-default btn-xs" title="Edit">
                        <i class="ion-ios-compose-outline text-secondary"></i>
                      </a>
                      <a href="#" class="btn btn-circle danger btn-xs" title="Edit">
                        <i class="ion-ios-trash-outline  text-secondary"></i>
                      </a>
                    </div>
                  </td>
                </tr>
                <%end%>

                  </table>
                </div>
                <div class="text-center">
                  <nav class="pag-sec">
                    <ul class="pagination  class=" text-secondary"">
                      <li  class=" text-secondary">
                        <a href="#"  class=" text-secondary" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li class="active text-secondary">
                        <a href="#">1</a>
                      </li>
                      <li  class=" text-secondary">
                        <a  class=" text-secondary" href="#">2</a>
                      </li>
                      <li  class=" text-secondary">
                        <a  class=" text-secondary" href="#">3</a>
                      </li>
                      <li  class=" text-secondary">
                        <a  class=" text-secondary" href="#">4</a>
                      </li>
                      <li  class=" text-secondary">
                        <a  class=" text-secondary" href="#">5</a>
                      </li>
                      <li  class=" text-secondary">
                        <a href="#" class=" text-secondary" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
