<div class="list-group main-side" id="mainside">
   <div class="list-group-item special-color black-text">All Contacts and groups <small class="float-right"><i class="ion-android-menu"></i></small></div>
       <%= link_to contacts_path, class: "list-group-item list-group-item-action flex-column align-items-start bg-dark" do %>
      <h5 class="mb-1 text-light">All Contacts
        <small class="text-light badge badge-pill float-right"><%= @contacts.count %> </small>
        </h5>
      <% end %>
      <% Group.all.each do |group| %>
      <% active = params[:group_id].to_i == group.id  ? 'current-link' : 'bg-dark' %>
      <%= link_to  contacts_path(group_id: group.id), class: "list-group-item list-group-item-action flex-column align-items-start #{active} " do %>
         <h5 class="mb-1 text-light"><%= group.name %>
        <small class=" badge badge-pill float-right text-light"><%= group.contacts.count %> </small>
        </h5>
    <% end %>
  <% end %>
</div>
